*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    font-family: var(--montserrat);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--azul-claro);
    width:90%;
    margin: 0 auto;
    min-width:600px;
<<<<<<< HEAD
    max-width:2000px
=======
    max-width:2000px;
>>>>>>> gh-pages
}

.input-box{
    width: 450px;
}

.input-box h1{
    font-size: 2.7rem;
    text-transform: uppercase;
}

.input-box input{
    position: relative;
    height: 60px;
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 8px;
    color: var(--bg-chamada);
    margin: 15px 0 20px;
    outline: none;
    font-size: 24px;
    padding: 0 20px;
    letter-spacing: 2px;
    box-shadow: -4px -4px 5px rgba(255, 255, 255, 1),
    inset 4px 4px 5px rgba(0, 0, 0, 0.2),
    inset -4px -4px 10px rgba(255, 255, 255, 1),
    4px 4px 5px rgba(0, 0, 0, 0.1);
}

.input-box fieldset{
    position: relative;
    height: 60px;
    width: 100%;
    background: transparent;
    border-radius: 8px;
    color: var(--bg-chamada);
    margin: 15px 0 20px;
    outline: none;
    font-size: 18px;
    padding: 0 20px;
    letter-spacing: 2px;
}

.botoes{
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.mais{
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.mais:hover{
    text-decoration: underline;
}

.input-box input::placeholder{
    letter-spacing: 0;
    margin: 0 auto;
}

.input-box #escolha{
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #333;
    color: var(--branco);
    cursor: pointer;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.input-box #escolha:active{
    background: #333;
}

.input-box #escolha:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    scale: 2%;
}

.botoes #gerar{
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    background: #333;
    color: var(--branco);
    cursor: pointer;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.botoes #gerar:active{
    background: #333;
}

.botoes #gerar:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    scale: 2%;
}

.botoes #copia{
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-block;
    background: #333;
    color: var(--branco);
    cursor: pointer;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.botoes #copia:active{
    background: #333;
}

.botoes #copia:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    scale: 2%;
}

.botoes #limpa{
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-block;
    background: #333;
    color: var(--branco);
    cursor: pointer;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.botoes #limpa:active{
    background: #333;
}

.botoes #limpa:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    scale: 2%;
}

.botoes #saiba{
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    background: #333;
    color: var(--branco);
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.botoes #saiba:active{
    background: #333;
}

.botoes #saiba:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    scale: 2%;
}

.footer{
    text-align: center;
    padding: 40px 0;
    width: 100%;
    height: 50px;
    margin: auto;
    bottom: 0;
  }
  
.copyright{
    color: black;
    font-size: 13px;
    margin: 20px;
}
  
.creditos{
    color: black;
    font-size: 13px;
    margin: 20px;
}

#linkedin:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    scale: 2%;
}

#github:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    scale: 2%;
}

#arquivo:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    scale: 2%;
}